.form-control {
    border-radius: 1rem !important;
}

.set-group {
    height: 3rem;
    display: flex;
}

.set-container {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 1rem;
}

.set {
    text-align: center;
    width: 4rem !important;
    margin-right: .5rem;
}

.tiebreak {
    height: 2rem;
    width: 4rem !important;
}
