.players-container {
  .filter-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1rem 3rem;
    gap: 1rem;

    .search {
      span {
        background-color: transparent;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      .input-search {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    .form-select {
      border-radius: 1rem;
    }
  }

  button {
    svg {
      margin-right: 0.5rem;
    }
  }

  .title {
    background-color: #011755;
    span {
      color: #fff;
      text-align: center;
      display: block;
    }
  }
}
