.input-code{
    display: block !important;
    text-align: center;
    input{
        margin-right: 1rem;
        border-radius: 0.5rem;
        height: 3rem;
        text-align: center;
        font-size: 1rem;
    }
}