.trackers-container {
    .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 2rem;
        }

        button {
            margin-right: 5rem;
        }
    }

    button {
        svg {
            margin-right: .5rem;
        }
    }

    .filter-container {
        margin: 1rem 3rem;
        width: 40%;
    }
}
