.player-stats-container {
    .title {
        span {
            background-color: #011755;
            color: #fff;
            text-align: center;
            display: block;
        }
    }

    .filter-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 1rem 3rem;
        gap: 1rem;
    }

    tbody {
        height: auto !important;
    }
}
