.seasons-container{
    .title-wrap{
        display: grid;
        grid-template-columns: 40% 60%;

        h1{
            margin: 2rem;
        }

        button{
            margin-top: 2.5rem;
            svg{
                margin-right: 1rem;
            }
        }
    }


    .finish{
        color: #f66363;
    }

    .current{
        color:#6abaf7
    }

    button{
        width: 12rem;
    }
}