@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'bootstrap/scss/bootstrap';

:root {
  font-family: Poppins sans-serif;
}

body{
  overflow-x: hidden;
}

.btn-primary{
  --bs-btn-bg: #001242 !important;
  --bs-btn-border-color: #001242 !important;
  --bs-btn-hover-bg: #011755 !important;
  --bs-btn-hover-border-color: #011755 !important;
}

.center{
  display: block;
  margin: 0 auto;
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4; 
  cursor: pointer;
}

.wrap-modal{
  display: block !important;
  position: absolute;
  margin-top: 10rem;
  button{
    width: 13rem;
  }
}

.wrap-modal, .overlay{
  overflow-y: hidden;
}

.card{
  margin: 0 2rem;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  border: none;

  table tr{
      --bs-table-bg: #ffffff;
      height: 3rem;
      &:hover{
          --bs-table-bg: #fafafa;
      }
  }
  table tbody tr {
      border: transparent;

  }
}