@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'bootstrap/scss/bootstrap';

:root {
  font-family: Poppins sans-serif;
}

.btn-primary{
  --bs-btn-bg: #001242 !important;
  --bs-btn-border-color: #001242 !important;
  --bs-btn-hover-bg: #011755 !important;
  --bs-btn-hover-border-color: #011755 !important;
}

.center{
  display: block;
  margin: 0 auto;
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4; 
  cursor: pointer;
}

.wrap-modal{
  display: block !important;
  position: absolute;
  margin-top: 10rem;
  button{
    width: 13rem;
  }
}