.news-container {
  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 2rem;
    }
    button {
      margin-right: 5rem;
    }
  }
  a {
    font-size: 0.8rem;
  }

  button {
    color: #ffffff;
    svg {
      margin-right: 0.5rem;
    }
  }

  .news-filter-container {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    width: 100%;
    svg,
    span {
      align-self: center;
    }

    svg {
      margin-right: 0.5rem;
      color: #ffc107;
    }
    select {
      width: 25%;
      margin-left: 1rem;
    }
  }
  img {
    width: 10rem;
    border-radius: 0.5rem;
  }
}

.edit-news {
  img {
    width: 20rem;
    margin-top: 1rem;
  }
}
