.news-container{
    .title-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            margin: 2rem;
        }
        button{
            margin-right: 5rem;
        }
    }

    button{
        color:#ffffff;
        svg{
            margin-right: .5rem;
        }
    }
}