.clubs-container{
    h1{
        margin: 2rem;
    }

    .copy{
        color: #3e3e3e;
        margin-left: .5rem;
        cursor: pointer;
    }

    .check-circle{
        color: #0fb85b;
    }

    .circle{
        color:#fb7676
    }

    button{
        width: 12rem;
    }
}