.clubs-container{
    .copy{
        color: #3e3e3e;
        margin-left: .5rem;
        cursor: pointer;
    }

    .check-circle{
        color: #0fb85b;
    }

    .circle{
        color:#fb7676
    }

    button{
        width: 12rem;
    }

    .filter-container{
        margin: 1rem 3rem;
        width: 40%;
    }
}